:root {
    --bg-primary: #2B4141;
    --txt-primary: #E4E4E4;
    --bg-secondary: #3b5b47;
    --txt-secondary: #5b5959;
    --bg-tertiary: #4a6b5a; /* New tertiary background color */
    --bg-misc: #1c7023; /* New miscellaneous color for slider */
}

.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-primary);
    color: var(--txt-primary);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.loading-screen h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--txt-primary);
}

.loading-slider {
    width: 80%;
    max-width: 400px;
    height: 8px;
    background-color: var(--bg-secondary);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.slider {
    width: 30%;
    height: 100%;
    background-color: var(--bg-misc);
    animation: slide 5s infinite; /* Matches the delay duration */
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(100%);
    }
}