.title-box{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    color: 192525;
    background-color: rgba(217, 217, 217, 0.099);
    padding:20px;
    border-radius:20px;

  }
  .sidebar-options {
      background-color: #192525;
      color: #ffffff;
      padding: 20px;;
      width: 200px;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      overflow: auto;
  }
  
  .sidebar-options .title-box .title {
      font-size: 1.5rem;
      font-weight: 700;
      color: #ffffff;
      margin-bottom: 1rem;
  }